

    /* Main Content */
    #main-content {
      margin-top: 5px;
      margin-right: 5px;
      margin-left: 225px;
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 15px;

      border: 2px solid rgb(121, 104, 104);
      
    }

    /* Optional: Cursor pointer for submenu toggles */
    .submenu-toggle {
      cursor: pointer;
    }


    /* CSS FOR PROFILE PAGE FROM HERE specific */
.userprofile
{
    border-bottom: 3px solid rgb(30, 28, 28);
    margin-bottom: 5px;
}
.userdetails
{
    padding-left: 30%;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    /* justify-content: center; */
}
.userdetails label{
    font-weight: bold;
}
.userdetails #adminprofile
{
    border: 1px solid #bfa7a7;
    border-radius: 7px;
    background-color: #bfa7a7;
    padding: 5px 5px;
}

 